In [1]:
import pandas as pd
import numpy as np

# Pour éviter d'avoir les messages warning
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import des données des dataframes
df1=pd.read_csv('../data/world-happiness-report.csv')
df2_full=pd.read_csv('../data/world-happiness-report-2021.csv')
display(df1.head(1))
display(df2_full.head(1))

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.37,0.451,50.8,0.718,0.168,0.882,0.518,0.258

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.78,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253

In [3]:
# Harmonisation par suppression des colonnes n'existant que dans le rapport 2021.
df2=df2_full.drop(['Regional indicator','Standard error of ladder score','upperwhisker',
                   'lowerwhisker','Ladder score in Dystopia','Explained by: Log GDP per capita',
                   'Explained by: Social support','Explained by: Healthy life expectancy',
                   'Explained by: Freedom to make life choices','Explained by: Generosity',
                   'Explained by: Perceptions of corruption','Dystopia + residual'],axis=1)

# Ajout de la colonne "year" sur le df2021 pour pouvoir le concatener avec le df1
df2.insert(loc=1,column='year',value=2021)

In [4]:
# Renommage des colonnes du df2021
df2=df2.rename(columns={'Ladder score':'Life Ladder','Logged GDP per capita':'Log GDP per capita',
                        'Healthy life expectancy':'Healthy life expectancy at birth'})

# Réindexation du df2021 par rapport au df1
df2.index=df2.index+1950
df2.head()

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
1950,Finland,2021,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1951,Denmark,2021,7.620,10.933,0.954,72.7,0.946,0.030,0.179
1952,Switzerland,2021,7.571,11.117,0.942,74.4,0.919,0.025,0.292
1953,Iceland,2021,7.554,10.878,0.983,73.0,0.955,0.160,0.673
1954,Netherlands,2021,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [5]:
# Concaténation des deux jeux de données en un trosième jeu global.
df_global=pd.concat([df1,df2],axis=0)
df_global

,Country name,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.800,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.200,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.600,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.920,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.240,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...
2094,Lesotho,2021,3.512,7.926,0.787,48.700,0.715,-0.131,0.915,NaN,NaN
2095,Botswana,2021,3.467,9.782,0.784,59.269,0.824,-0.246,0.801,NaN,NaN
2096,Rwanda,2021,3.415,7.676,0.552,61.400,0.897,0.061,0.167,NaN,NaN
2097,Zimbabwe,2021,3.145,7.943,0.750,56.201,0.677,-0.047,0.821,NaN,NaN
2098,Afghanistan,2021,2.523,7.695,0.463,52.493,0.382,-0.102,0.924,NaN,NaN

In [6]:
df_global.describe()

,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
count,2098.000000,2098.000000,2062.000000,2085.000000,2043.000000,2066.000000,2009.000000,1988.000000,1927.000000,1933.000000
mean,2013.768827,5.471402,9.373060,0.812709,63.478503,0.746094,-0.001027,0.745650,0.710003,0.268544
std,4.486449,1.112676,1.154247,0.118203,7.468780,0.140766,0.161400,0.186261,0.107100,0.085168
min,2005.000000,2.375000,6.635000,0.290000,32.300000,0.258000,-0.335000,0.035000,0.322000,0.083000
25%,2010.000000,4.652250,8.470500,0.750000,58.704500,0.652000,-0.115000,0.688750,0.625500,0.206000
50%,2014.000000,5.392000,9.462000,0.835000,65.280000,0.767000,-0.027000,0.801000,0.722000,0.258000
75%,2018.000000,6.282500,10.360750,0.905000,68.660000,0.859000,0.089000,0.869000,0.799000,0.320000
max,2021.000000,8.019000,11.648000,0.987000,77.100000,0.985000,0.698000,0.983000,0.944000,0.705000

In [7]:
# Ajout de la colonne "Regional Indicator" pour indexer rattacher les pays à leur continent respectif indiqué dans le df2021.
# Apurement du df2021 pour ne conserver que les noms de pays et de continent.
df_continents=df2_full[['Country name','Regional indicator']]

In [8]:
# Fusion fusion du df_global avec celui des continents.
df_global2=df_global.merge(right=df_continents,on='Country name',how='outer')

In [9]:
# Déplacement de la colonne continent en 2e position.
df_global2.insert(1,'Regional indicator',df_global2.pop('Regional indicator'))
df_global2.head()

,Country name,Regional indicator,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,South Asia,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,South Asia,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,South Asia,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,South Asia,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,South Asia,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [10]:
df_global2["Country name"].nunique()

166

In [11]:
# Vérification des NaN pour la colonne des continents.
print(f'Il y a {df_global2["Regional indicator"].isna().sum()} valeurs manquantes pour la colonne des continents.')

Il y a 63 valeurs manquantes pour la colonne des continents.

In [12]:
# Calcul du nombre de pays n'ayant pas de continent de rattachement.
df_nan_continents=df_global2[df_global2['Regional indicator'].isna()]
print(f'Il y a {df_nan_continents.groupby("Country name").agg("min").shape[0]} pays dont le continent manque.')

Il y a 17 pays dont le continent manque.

In [13]:
# Import du fichier contenant l'ensemble des pays et de leur continent de rattachement.
df_continents=pd.read_csv('../data/pays&continents.csv',sep=';')
df_continents

            Country name            Regional indicator
0                Finland                Western Europe
1                Denmark                Western Europe
2            Switzerland                Western Europe
3                Iceland                Western Europe
4            Netherlands                Western Europe
..                   ...                           ...
161          South Sudan  Middle East and North Africa
162                Sudan  Middle East and North Africa
163             Suriname   Latin America and Caribbean
164                Syria  Middle East and North Africa
165  Trinidad and Tobago   Latin America and Caribbean

[166 rows x 2 columns]

In [14]:
# Fusion du dataset des continent avec notre dataset principal.
df_global2=df_global.merge(right=df_continents,on='Country name',how='outer')

In [15]:
# Vérification du nombre de continents manquants.
print(f'Il y a {df_global2["Regional indicator"].isna().sum()} valeurs manquantes pour la colonne des continents.')

Il y a 0 valeurs manquantes pour la colonne des continents.

In [16]:
# Déplacement de la colonne régional indicator en 2e position.
df_global2.insert(1,'Regional indicator',df_global2.pop('Regional indicator'))

print("Le dataset complet jusqu'en 2021 est le suivant (pour les cinq premières lignes) :")
df_global2.head()

Le dataset complet jusqu'en 2021 est le suivant (pour les cinq premières lignes) :

,Country name,Regional indicator,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,South Asia,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,South Asia,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,South Asia,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,South Asia,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,South Asia,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [17]:
df_global2.info()
# Les types de données ont l'air cohérents

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2098 entries, 0 to 2097
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      2098 non-null   object
 1   Regional indicator                2098 non-null   object
 2   year                              2098 non-null   int64
 3   Life Ladder                       2098 non-null   float64
 4   Log GDP per capita                2062 non-null   float64
 5   Social support                    2085 non-null   float64
 6   Healthy life expectancy at birth  2043 non-null   float64
 7   Freedom to make life choices      2066 non-null   float64
 8   Generosity                        2009 non-null   float64
 9   Perceptions of corruption         1988 non-null   float64
 10  Positive affect                   1927 non-null   float64
 11  Negative affect                   1933 non-null   float64
dtypes: float64(9), int64(1), object(2)
memory usage: 213.1+ KB

In [18]:
# Analyse des doublons : visiblement il n'y a pas de doublon.
print(f'Il y a {df_global2.duplicated().sum()} doublons dans le jeu de données.')

Il y a 0 doublons dans le jeu de données.

In [19]:
# Analyse de cohérence visuelle des données (orthographe, casse, etc.).
df_global2['Country name'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
       'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong S.A.R. of China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger',
       'Nigeria', 'North Cyprus', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palestinian Territories', 'Panama', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia',
       'Somaliland region', 'South Africa', 'South Korea', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan Province of China', 'Tajikistan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [20]:
# Analyse des autres valeurs manquantes.
df_global2.isna().sum()

Country name                          0
Regional indicator                    0
year                                  0
Life Ladder                           0
Log GDP per capita                   36
Social support                       13
Healthy life expectancy at birth     55
Freedom to make life choices         32
Generosity                           89
Perceptions of corruption           110
Positive affect                     171
Negative affect                     165
dtype: int64

In [ ]:
'''
Traitement des valeurs manquantes de df_global2.
La statégie employée est la suivante : remplir les NaN avec la mediane des valeurs par pays sur les différentes années.
Pour certains cas, des pays n'auraient aucune valeurs de la variable en question,
Dans ce cas, on utilise la médiane de la valeur du continent de rattachement.
Le traitement se fait donc d'abord par pays puis par continent.
'''

In [22]:
# Calcul de la médiane en fonction des variables de pays groupés.
test=df_global2.groupby('Country name')['Perceptions of corruption'].agg('median')
test

Country name
Afghanistan    0.8710
Albania        0.8800
Algeria        0.7000
Angola         0.8700
Argentina      0.8510
                ...
Venezuela      0.8200
Vietnam        0.7890
Yemen          0.8145
Zambia         0.8110
Zimbabwe       0.8305
Name: Perceptions of corruption, Length: 166, dtype: float64

In [23]:
# Exploration des differentes variables afin d'analyser les valeurs manquantes.
df_global2.sort_values('Perceptions of corruption').tail(50)

,Country name,Regional indicator,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1164,Malta,Western Europe,2013,6.380,10.422,0.942,71.96,0.909,0.410,NaN,0.660,0.370
1414,Oman,Middle East and North Africa,2011,6.853,10.382,NaN,65.50,0.916,0.025,NaN,NaN,0.295
1535,Qatar,Middle East and North Africa,2010,6.850,11.520,NaN,66.70,NaN,0.104,NaN,NaN,NaN
1536,Qatar,Middle East and North Africa,2011,6.592,11.553,0.857,67.02,0.905,0.012,NaN,0.761,0.328
1537,Qatar,Middle East and North Africa,2012,6.611,11.523,0.838,67.34,0.924,0.162,NaN,0.766,0.322
1538,Qatar,Middle East and North Africa,2015,6.375,11.486,NaN,68.30,NaN,NaN,NaN,NaN,NaN
1583,Saudi Arabia,Middle East and North Africa,2007,7.267,10.689,0.892,63.86,0.622,0.005,NaN,0.772,0.232
1586,Saudi Arabia,Middle East and North Africa,2010,6.307,10.693,0.880,64.40,0.678,-0.033,NaN,0.645,0.297
1587,Saudi Arabia,Middle East and North Africa,2011,6.700,10.758,0.830,64.60,0.603,-0.142,NaN,0.726,0.240
1588,Saudi Arabia,Middle East and North Africa,2012,6.396,10.779,0.867,64.80,0.560,-0.120,NaN,0.715,0.225
1589,Saudi Arabia,Middle East and North Africa,2013,6.495,10.776,0.827,65.00,0.661,-0.081,NaN,0.744,0.276
1590,Saudi Arabia,Middle East and North Africa,2014,6.278,10.783,0.818,65.20,0.762,-0.073,NaN,0.705,0.313
1591,Saudi Arabia,Middle East and North Africa,2015,6.345,10.798,0.820,65.40,0.820,-0.045,NaN,0.724,0.327
1592,Saudi Arabia,Middle East and North Africa,2016,6.474,10.792,0.890,65.70,0.774,-0.132,NaN,0.793,0.266
1593,Saudi Arabia,Middle East and North Africa,2017,6.294,10.764,0.840,66.00,0.814,-0.131,NaN,0.775,0.306
1594,Saudi Arabia,Middle East and North Africa,2018,6.356,10.771,0.868,66.30,0.855,-0.192,NaN,0.764,0.288
1595,Saudi Arabia,Middle East and North Africa,2019,6.561,10.757,0.912,66.60,0.891,-0.147,NaN,0.732,0.238
1596,Saudi Arabia,Middle East and North Africa,2020,6.560,10.701,0.890,66.90,0.884,-0.111,NaN,0.754,0.251
1640,Singapore,Southeast Asia,2006,6.463,11.168,0.904,73.60,0.757,0.138,NaN,0.751,0.267
1688,South Africa,Sub-Saharan Africa,2006,5.084,9.386,0.913,48.02,0.649,-0.084,NaN,0.802,0.223
1764,Sweden,Western Europe,2005,7.376,10.739,0.951,71.20,0.964,NaN,NaN,0.840,0.151
1904,Turkmenistan,Commonwealth of Independent States,2009,6.568,8.989,0.924,59.44,NaN,-0.102,NaN,0.781,0.152
1905,Turkmenistan,Commonwealth of Independent States,2011,5.792,9.182,0.964,60.04,NaN,0.018,NaN,0.639,0.122
1906,Turkmenistan,Commonwealth of Independent States,2012,5.464,9.269,0.946,60.28,0.786,-0.123,NaN,0.584,0.117
1907,Turkmenistan,Commonwealth of Independent States,2013,5.392,9.348,0.846,60.52,0.705,-0.071,NaN,0.599,0.160
1908,Turkmenistan,Commonwealth of Independent States,2014,5.787,9.427,0.909,60.76,0.805,0.032,NaN,0.695,0.154
1909,Turkmenistan,Commonwealth of Independent States,2015,5.791,9.472,0.960,61.00,0.701,0.093,NaN,0.705,0.301
1910,Turkmenistan,Commonwealth of Independent States,2016,5.887,9.515,0.929,61.40,0.749,0.005,NaN,0.636,0.255
1911,Turkmenistan,Commonwealth of Independent States,2017,5.229,9.561,0.908,61.80,0.720,0.066,NaN,0.521,0.350
1912,Turkmenistan,Commonwealth of Independent States,2018,4.621,9.605,0.984,62.20,0.858,0.260,NaN,0.612,0.189
1913,Turkmenistan,Commonwealth of Independent States,2019,5.474,9.651,0.982,62.60,0.892,0.285,NaN,0.510,0.183
1950,United Arab Emirates,Middle East and North Africa,2011,7.119,10.935,0.881,66.42,0.889,0.071,NaN,0.763,0.216
1951,United Arab Emirates,Middle East and North Africa,2012,7.218,10.958,0.856,66.44,0.920,NaN,NaN,0.768,0.224
1952,United Arab Emirates,Middle East and North Africa,2013,6.621,11.001,0.864,66.46,0.936,NaN,NaN,NaN,0.291
1953,United Arab Emirates,Middle East and North Africa,2014,6.540,11.041,NaN,66.48,NaN,NaN,NaN,NaN,NaN
1954,United Arab Emirates,Middle East and North Africa,2015,6.568,11.086,0.824,66.50,0.915,0.201,NaN,0.761,0.296
1955,United Arab Emirates,Middle East and North Africa,2016,6.831,11.105,0.849,66.70,0.949,0.131,NaN,0.775,0.245
1956,United Arab Emirates,Middle East and North Africa,2017,7.039,11.115,0.836,66.90,0.962,0.216,NaN,0.795,0.208
1957,United Arab Emirates,Middle East and North Africa,2018,6.604,11.112,0.851,67.10,0.944,0.054,NaN,0.787,0.302
1958,United Arab Emirates,Middle East and North Africa,2019,6.711,11.114,0.862,67.30,0.911,0.129,NaN,0.793,0.284
1959,United Arab Emirates,Middle East and North Africa,2020,6.458,11.053,0.827,67.50,0.942,0.060,NaN,0.752,0.298
2010,Uzbekistan,Commonwealth of Independent States,2008,5.311,8.339,0.894,62.32,0.831,-0.023,NaN,0.714,0.187
2018,Uzbekistan,Commonwealth of Independent States,2016,5.893,8.756,0.945,64.50,0.984,0.208,NaN,0.842,0.147
2039,Vietnam,Southeast Asia,2006,5.294,8.335,0.888,65.86,0.886,0.015,NaN,0.682,0.204
2047,Vietnam,Southeast Asia,2014,5.085,8.716,0.792,67.14,NaN,0.000,NaN,0.701,0.241
2048,Vietnam,Southeast Asia,2015,5.076,8.770,0.849,67.30,NaN,0.086,NaN,0.642,0.232
2050,Vietnam,Southeast Asia,2017,5.175,8.876,NaN,67.70,NaN,NaN,NaN,NaN,NaN
2054,Yemen,Middle East and North Africa,2007,4.477,8.214,0.825,53.40,0.673,0.011,NaN,0.592,0.379
2062,Yemen,Middle East and North Africa,2016,3.826,7.715,0.775,55.10,0.533,-0.151,NaN,0.469,0.228
2063,Yemen,Middle East and North Africa,2017,3.254,7.578,0.790,55.90,0.595,-0.147,NaN,0.455,0.295

In [24]:
# Regroupement par pays pour poursuivre l'exploration des données.
df_global2[df_global2['Country name']=='Oman']

,Country name,Regional indicator,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
1414,Oman,Middle East and North Africa,2011,6.853,10.382,NaN,65.5,0.916,0.025,NaN,NaN,0.295

In [25]:
# Séparation des variables catégorielles et des variables numériques et obtention des titres des colonnes.
cat_data_col = df_global2.select_dtypes(include=[object]).columns.tolist()
num_data_col = df_global2.select_dtypes(include=[np.number]).columns.tolist()
num_data_col.remove("year")
num_data_col

['Life Ladder',
 'Log GDP per capita',
 'Social support',
 'Healthy life expectancy at birth',
 'Freedom to make life choices',
 'Generosity',
 'Perceptions of corruption',
 'Positive affect',
 'Negative affect']

In [26]:
# Imputation de la médiane à la place des valeurs manquantes par pays et par colonne.
for c in num_data_col:
    df_global2[c]=df_global2.groupby('Country name')[c].transform(lambda x : x.fillna(x.median()))

In [27]:
# Vérification des valeurs manquantes.
print(f'Affichage du nombre de doublons par colonne dans le jeu de données soit {df_global2.isna().sum().sum()} valeurs manquantes.')
df_global2.isna().sum()

# On comprend ici que certaines valeurs manquantes n'ont pas pu etre remplies par manque de données et impossibilité de calculer la mediane avec rien

Affichage du nombre de doublons par colonne dans le jeu de données soit 36 valeurs manquantes.

Country name                         0
Regional indicator                   0
year                                 0
Life Ladder                          0
Log GDP per capita                  12
Social support                       1
Healthy life expectancy at birth     4
Freedom to make life choices         0
Generosity                          12
Perceptions of corruption            2
Positive affect                      3
Negative affect                      2
dtype: int64

In [28]:
# Exploration des lignes qui contiennent encore des valeurs manquantes.
df_global2[df_global2.isna().any(axis=1)]

# Par manque de données, on émet l'hypothèse que ces pays sont à des scores de q1 par rapport au continent auxquel ils appartiennt.

,Country name,Regional indicator,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
454,Cuba,Latin America and Caribbean,2006,5.418,NaN,0.970,68.44,0.281,NaN,NaN,0.647,0.277
1144,Maldives,South Asia,2018,5.198,9.826,0.913,70.60,0.855,0.024,0.825,NaN,NaN
1145,Maldives,South Asia,2021,5.198,9.826,0.913,70.60,0.854,0.024,0.825,NaN,NaN
1414,Oman,Middle East and North Africa,2011,6.853,10.382,NaN,65.50,0.916,0.025,NaN,NaN,0.295
1681,Somalia,Middle East and North Africa,2014,5.528,NaN,0.611,49.60,0.874,NaN,0.456,0.834,0.207
1682,Somalia,Middle East and North Africa,2015,5.354,NaN,0.599,50.10,0.968,NaN,0.410,0.901,0.187
1683,Somalia,Middle East and North Africa,2016,4.668,NaN,0.594,50.00,0.917,NaN,0.441,0.891,0.193
1684,Somaliland region,Middle East and North Africa,2009,4.991,NaN,0.880,NaN,0.746,NaN,0.513,0.819,0.112
1685,Somaliland region,Middle East and North Africa,2010,4.657,NaN,0.829,NaN,0.820,NaN,0.471,0.769,0.083
1686,Somaliland region,Middle East and North Africa,2011,4.931,NaN,0.788,NaN,0.858,NaN,0.357,0.749,0.122
1687,Somaliland region,Middle East and North Africa,2012,5.057,NaN,0.786,NaN,0.758,NaN,0.334,0.735,0.152
1720,South Sudan,Middle East and North Africa,2014,3.832,NaN,0.545,49.84,0.567,NaN,0.742,0.614,0.428
1721,South Sudan,Middle East and North Africa,2015,4.071,NaN,0.585,50.20,0.512,NaN,0.710,0.586,0.450
1722,South Sudan,Middle East and North Africa,2016,2.888,NaN,0.532,50.60,0.440,NaN,0.785,0.615,0.549
1723,South Sudan,Middle East and North Africa,2017,2.817,NaN,0.557,51.00,0.456,NaN,0.761,0.586,0.517

In [29]:
# Imputation de la valeur du premier quartile de la zone continentale de rattachement à la place des valeurs manquantes par pays et par colonne.
for c in num_data_col:
    df_global2[c]=df_global2.groupby('Regional indicator')[c].transform(lambda x : x.fillna(x.quantile(q=0.25)))

In [30]:
# Vérification des valeurs manquantes.
print(f'Affichage du nombre de doublons par colonne dans le jeu de données soit {df_global2.isna().sum().sum()} valeurs manquantes.')
df_global2.isna().sum()

# On constate qu'il n'y a plus de valeur manquante.

Affichage du nombre de doublons par colonne dans le jeu de données soit 0 valeurs manquantes.

Country name                        0
Regional indicator                  0
year                                0
Life Ladder                         0
Log GDP per capita                  0
Social support                      0
Healthy life expectancy at birth    0
Freedom to make life choices        0
Generosity                          0
Perceptions of corruption           0
Positive affect                     0
Negative affect                     0
dtype: int64

In [31]:
# Affichage du dataset complet et sans valeur manquante.
df_global2

,Country name,Regional indicator,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,South Asia,2008,3.724,7.370,0.451,50.800,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,South Asia,2009,4.402,7.540,0.552,51.200,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,South Asia,2010,4.758,7.647,0.539,51.600,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,South Asia,2011,3.832,7.620,0.521,51.920,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,South Asia,2012,3.783,7.705,0.521,52.240,0.531,0.236,0.776,0.710,0.268
...,...,...,...,...,...,...,...,...,...,...,...,...
2093,Zimbabwe,Sub-Saharan Africa,2017,3.638,8.016,0.754,55.000,0.753,-0.098,0.751,0.806,0.224
2094,Zimbabwe,Sub-Saharan Africa,2018,3.616,8.049,0.775,55.600,0.763,-0.068,0.844,0.710,0.212
2095,Zimbabwe,Sub-Saharan Africa,2019,2.694,7.950,0.759,56.200,0.632,-0.064,0.831,0.716,0.235
2096,Zimbabwe,Sub-Saharan Africa,2020,3.160,7.829,0.717,56.800,0.643,-0.009,0.789,0.703,0.346
2097,Zimbabwe,Sub-Saharan Africa,2021,3.145,7.943,0.750,56.201,0.677,-0.047,0.821,0.715,0.218

In [32]:
# Le dataset est entier, sans valeurs manquantes, sans fautes ni doublons.

In [33]:
# On enregistre alors le dataset dans un fichier CSV pour ne pas avoir a refaire  df df_global2
df_global2.to_csv('../data/df_global.csv', index=False)